---
permalink: search.json
---
{"search" : [
{%- for item in collections.post -%}
  {
    "url" : "{{ item.url }}",
    "date" : "{{ item.date | momentDate }}",
    "title" : "{{ item.data.title }}",
    "description" : "{{ item.data.description }}",
    "text" : "{{ (item.data.title + " " + item.templateContent) | squash }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]}