<footer>
  <div class="solid-footer">
    <p>
    &copy;{% currentYear %} <a href="/contact">Scott Dawson</a>. <i class="fab fa-instagram"></i> <a href="https://instagram.com/scottpdawson">@scottpdawson</a>
    <br />Created w/ 
    <a href="https://www.11ty.dev/" target="new" rel="noopener">eleventy</a>, 
    <a href="https://github.com/scottpdawson/scottpdawson" target="new" rel="noopener">GitHub</a>, 
    and <a href="https://www.netlify.com" target="new" rel="noopener">Netlify</a>. 
    <br />Want more? Subscribe to a <a href="/feed.xml">feed of this site's posts</a>.</p>
  </div>
</footer>