<form name="contact" method="POST" action="/contact/success" netlify>
  <label for="name">What is your name?</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  <label for="email">What is your email?</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" required>
  <label for="message">What is your favorite color? No, wait. What is your message?</label>
  <textarea name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  <button type="submit" name="submit">Send Message</button>
</form>
