<div class="header">
  <img src="/static/img/scott.png" class="logo" />
  <nav>
    {% set navPages = collections.all | eleventyNavigation %}
    <ul id="nav">
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url or navigation == entry.title %} class="active"{% endif %}>
          <span class="nav-title">{{ entry.title }}</span>
        </a>
      </li>
    {%- endfor %}
      <li><a href="/search" id="search-link"><i class="nav-icon fas fa-search" title="Search this site"></i></a></li>
    </ul>
  </nav>
</div>