<li class="lazy" onClick="location.href='{{ item.url }}'">
  {%- if (item.data.hero) -%}
    <div class="post-image"><img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 723 560'%3E%3C/svg%3E" data-src="{{ item.data.hero | galleryImage }}" alt="Main image for {{ item.data.title }}" /></div>
  {%- endif -%}
  <div class="card-contents">
  <a href="{{ item.url }}">{{ item.data.title | safe }}</a>
  <div class="post-desc"><i>{{ item.date | momentDate }}</i> – {{ item.data.description | safe }}</div>
  </div>
</li>