
<ul class="l-grid post-grid">
  {%- for item in postslist | reverse  -%}
  {% if loop.index <= 3 %}
  {% include '_includes/components/post-teaser.njk' %}
  {% endif %}
  {%- endfor -%}
</ul>

{% if postslist.length > 3 %}
<h2>More '{{ tag }}' Posts</h2>
<ul class="post-list">
  {%- for item in postslist | reverse  -%}
  {% if loop.index > 3 %}
  {% include '_includes/components/post-teaser-condensed.njk' %}
  {% endif %}
  {%- endfor -%}
</ul>
{% endif %}