---
layout: layouts/base.njk
section: page
---

{% if (hero) %}
<img class="page-hero lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 723 560'%3E%3C/svg%3E" data-src="{{ hero | heroImage }}" alt="Main image for {{ title }}" />
{% endif %}

<article>
{{ content | safe }}
</article>