---
layout: layouts/base.njk
section: page
---

{% if (hero) %}
<img class="page-hero" src="{{ hero | heroImage }}" alt="Main image for {{ title }}" />
{% endif %}

<article>
{{ content | safe }}
</article>