---
layout: layouts/base.njk
section: post
---

<article>
  {% if (hero) %}
  <img class="page-hero lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 723 560'%3E%3C/svg%3E" data-src="{{ hero | heroImage }}" alt="Main image for {{ title }}" />
  {% endif %}

  <span class="readingTime">
    <i class="fas fa-clock" aria-hidden="true"></i> Time to Read: ~{{ content | readingTime }}
  </span>

  {{ content | safe }}

  <div class="relatedTags relatedCoffee">
    <i class="fas fa-coffee" data-fa-transform="rotate-10"></i> 
    <h3 style="margin: 0">Buy me a Coffee</h3>
    <p style="margin: 10px 0px;">Did you enjoy this? Did it help you? Make you laugh? Dare I say, all of the above? If you like my work — my writing, distributed work tips, #RemoteChat, or my other open source projects — you can <a href="https://www.buymeacoffee.com/scottpdawson">buy me a ☕</a> and let me know what you think.</p>
  </div>

  {% if tags %}
    <div class="relatedTags">
    <i class="fas fa-tag" data-fa-transform="rotate-115"></i> 
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a> 
      {%- endif -%}
    {% endfor %}
    </div>
  {% endif %}

  {% if navigation %}
    
    {% set collectionName %}{{ navigation.toLowerCase() }}Posts{% endset %}
    {% set collectionSize %}{{ collections[collectionName].length }}{% endset %}

    <div class="relatedPosts">
      <h3>Related Posts</h3>
      <p>There are <a href="/{{ navigation.toLowerCase() | url }}/">{{ collectionSize - 1 }} 
      other posts like this one</a>. Here are some other recent ones:</p>
      <ul class="l-grid post-grid">
        {% set relatedPostsOutput = 0 %}
        {%- for item in collections[collectionName] | reverse -%}
        {% if relatedPostsOutput < 3 and item.url.slice(1) != permalink %}
        {% include '_includes/components/post-teaser.njk' %}
        {% set relatedPostsOutput = relatedPostsOutput + 1 %}
        {% endif %}
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}

</article>